<!-- layouts/shortcodes/figure-id.html -->
{{- $src := .Get "src" -}}
{{- $id := .Get "id" -}}
{{- $alt := .Get "alt" | default (.Get "caption") -}}
{{- $caption := .Get "caption" -}}

{{ if not $id }}
    {{ errorf "El shortcode 'figure-id' requiere un parámetro 'id'. Archivo: %s" .Page.File.Path }}
{{ end }}

<figure id="{{ $id }}" class="figure-with-id">
    <a href="{{ $src | absURL }}" target="_blank" rel="noopener noreferrer">
        <img src="{{ $src | absURL }}" alt="{{ $alt }}" loading="lazy" />
    </a>
    {{ with $caption }}
    <figcaption>{{ . | markdownify }}</figcaption>
    {{ end }}
</figure>
